<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WorkOutBuddy</title>

	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="header">
	    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
	        <a class="pure-menu-heading" href="/">Workout Buddy</a>
	        <ul class="pure-menu-list">
	            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
	            <li class="pure-menu-item"><a href="/survey" class="pure-menu-link">Survey</a></li>
	            <li class="pure-menu-item"><a href="/api/friends" class="pure-menu-link">All Buddies - API</a></li>
	        </ul>
	    </div>
	</div>
	<div class="content-wrapper">
		{{{body}}}
    </div>
</body>
</html>